@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
  transition: var(--TRANSITION);
}

:root {
  --TRANSITION: all 0.5s ease-in-out;
  --BASIC-BORDER: 2px solid var(--MAIN-COLOR);
  --MAIN-COLOR: black;
  --SECONDARY-COLOR: rgb(80,77,77);
  --THIRD-COLOR: rgba(187,180,180,0.877);
  --LIGHT-COLOR: whitesmoke;
  --MEDIUM-LIGHT-COLOR: grey;
  --SPECIAL-COLOR: rgb(20,245,20);
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  border: var(--BASIC-BORDER);
  border-width: 5px;
  background-color: var(--MEDIUM-LIGHT-COLOR);
  text-align: center;
  transition: none;
}

body > .user__input {
  font-size: 2.5rem;
  display: block;
  border: var(--BASIC-BORDER);
  max-width: 90%;
  margin-top: 2%;
  border-radius: 10px;
  padding: 0.2em;
  align-self: center;
}

.main__calculator {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.user__buttons {
  display: grid;
  grid-template-columns: repeat(3, 30.34%);
  grid-auto-rows: 20.34%;
  place-content: center;
  align-items: center;
  border: var(--BASIC-BORDER);
  background-color: var(--THIRD-COLOR);
  width: 70%;
  height: 20.34rem;
  border-radius: 10px;
  padding-left: 1rem;
}

.box {
  font-size: 2.3rem;
  font-weight: bolder;
  background-color: var(--LIGHT-COLOR);
  border: var(--BASIC-BORDER);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user__buttons > .box:last-child {
  background-color: var(--SPECIAL-COLOR);
}

.user__buttons > .operator {
  background-color: rgb(123, 143, 143);
}

.user__buttons > .number {
  background-color: rgb(37, 29, 29);
  color: var(--LIGHT-COLOR);
  border-color: rgb(74, 77, 77);
}

.misc__input {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 80.67%;
}

.misc__input > .box {
  width: 65.5px;
  height: 65.5px;
}

.main__calculator > h1 {
  font-size: 1.8rem;
}

.box:hover {
  background-color: rgb(202, 183, 183);
}

@media screen and (orientation: landscape) {
  body > .user__input {
    margin-top: 0.5%;
    font-size: 1.9rem;
  }

  .main__calculator {
    flex-flow: row nowrap;
    max-height: inherit;
  }

  .box {
    font-size: 2rem;
    width: 40.5px;
    height: 40.5px;
  }

  .user__buttons {
    width: 40%;
    height: 15.34rem;
    grid-template-columns: repeat(3, 25.34%);
  }

  .misc__input {
    width: 45%;
    max-height: 12.32rem;
    align-items: center;
    gap: 5px;
  }

  h1 {
    position: absolute;
    bottom: 0;
    right: 10%;
  }
}

